<<<<<<< HEAD
// Fonts
$opensans-font: 'Open Sans', sans-serif;
=======
<<<<<<< HEAD
// Fonts
$opensans-font: 'Open Sans', sans-serif;
=======
// Fonts
$opensans-font: 'Open Sans', sans-serif;
>>>>>>> origin/Abdelrahman_shikhan-10
>>>>>>> b7cb4e1d80796a98313415ef7a5d8e797d4f6f04
$raleway-font: 'Raleway', sans-serif;