<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b7cb4e1d80796a98313415ef7a5d8e797d4f6f04
.footer-area .col-9 ul {
    list-style: none;
    display: flex;
    margin: 0px 36%;
}
.footer-bottom-area {
    margin-top: 70px;
    text-align: center;
    background-color: #334f6fcf;
}
.footer-area a{
    color:#eee;
}
.top-header {
    background-color: #b7bcbd69;
    padding-top: 0px;
    padding-bottom: 13px;
<<<<<<< HEAD
=======
=======
.footer-area .col-9 ul {
    list-style: none;
    display: flex;
    margin: 0px 36%;
}
.footer-bottom-area {
    margin-top: 70px;
    text-align: center;
    background-color: #334f6fcf;
}
.footer-area a{
    color:#eee;
}
.top-header {
    background-color: #b7bcbd69;
    padding-top: 0px;
    padding-bottom: 13px;
>>>>>>> origin/Abdelrahman_shikhan-10
>>>>>>> b7cb4e1d80796a98313415ef7a5d8e797d4f6f04
}